div{
    background-color: aqua;
    height: 250px;
    width: 250px;
    display: inline-block;
}
span{
    background-color: brown;
    height: 250px;
    width: 250px;
    display: inline-block;
}


